<div class="row mt-5">
    <div class="col-12 col-md-3 col-md-3">
        <div >
            <div class="list-group">
                <button class="list-group-item" (click)="onSelected('')" [ngClass]="{ 'active': selectedCategory === '' }">-
                    Display All -</button>
                <button class="list-group-item" *ngFor="let category of categories$ | async"
                    (click)="onSelected(category.name)" [ngClass]="{ 'active': category.name === selectedCategory }">
                    {{ category.name }}
                </button>
            </div>

        </div>
    </div>
    <div class="col-12 col-md-9">
        <div class="row" *ngIf="vm$ | async as vm">
            <ng-container *ngFor="let p of vm.products;  let i = index">
                <div class="col-12 col-sm-6 col-md-4">
                 <app-products-catalog [product]="p" />
                </div>
            </ng-container>
        </div>
    </div>
</div>