.card-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2ECC71;
    text-align: center;
  }
  .form-group {
    position: relative;
    margin-bottom: 40px; /* Added margin-bottom for spacing */
  }

  a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
  
    /* Underline animation for all links */
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #2ECC71;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
  
    &:hover::before {
      transform: scaleX(1);
    }
  }